POSTGRES_USER=admin
POSTGRES_PASSWORD=your-password
POSTGRES_DB=backend_lab

DATABASE_URL=postgresql+psycopg://admin:your-password@localhost:5432/backend_lab

JWT_SECRET=your-long-random-secret

SQL_ECHO=True

REDIS_HOST=localhost
REDIS_PORT=6379

DEFAULT_RATE_LIMIT=5
DEFAULT_RATE_LIMIT_WINDOW=60

DEFAULT_MAX_REQUEST_SIZE=1048576

TEST_DATABASE_URL=postgresql+psycopg://admin:your-password@localhost:5432/backend_lab_test
